@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #44403c;
  --secondary: #fafafa;
}

* {
  scrollbar-width: .5rem;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: .5rem;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  /* border-radius: 5px; */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}